#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")

<body style='overflow:scroll;overflow-x:hidden'>    
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			
		</div>
		<div class="row">
			
			
		</div>
	</div>
	
</body>
</html>
<script>
jQuery(function(){
	jQuery.ajax({  
	        url: "activitiOffer.do?myWaitTaskList",
	        type: "get",  
	        dataType: "html",  
	        success: function (result) {  
	        		jQuery('.row:first').html(result);
	        }  
	    });
	jQuery.ajax({  
	        url: "activitiOffer.do?myDoneTaskList",
	        type: "get",  
	        dataType: "html",  
	        success: function (result) {  
	        		jQuery('.row:last').html(result);
	        }  
	    });
})
</script>
