<!--金额-->
<div class="row">
	<input type="hidden" id="outsource.billid" style="width: 100%;" value="$!{billId}" >					
	<div class="form-group mno">
		<label for="inputEmail3" class="col-sm-5 control-label" >外包/外协报价</label>
		<div class="col-sm-8">
			<input type="number" id="outsource.fouterprice" class="form-control-text" style="text-align:right;" datatype="*" 
			value="$!{fouterprice}"/>
		</div>
	</div>	
</div>

