
<!--门型-->
<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">流程处理</div>		
		<div class="panel-body">			
			<div class="row">
				<input id="task-handle-taskId" type="hidden" value="$!{taskId}"/>
				
				<div class="form-group mno" id="task-handle-action">
					<input name="task-handle-radio-action" type="radio" checked="checked" value="同意">同意
					<input name="task-handle-radio-action" type="radio" value="驳回">驳回
				</div>
				<div class="form-group mno" id="task-handle-outsource" style="display:none;">
					<input name="task-handle-radio-outsource" type="radio" checked="checked" value="同意">自主生产
					<input name="task-handle-radio-outsource" type="radio" value="建议外协/外包">建议外协/外包
					<input name="task-handle-radio-outsource" type="radio" value="驳回">驳回
				</div>
				<div class="form-group mno" id="task-handle-discount" style="display:none;">
					<input name="task-handle-radio-discount" type="radio" checked="checked" value="不打折">不打折
					<input name="task-handle-radio-discount" type="radio" value="打折">打折			
				</div>
				<div class="form-group mno" id="task-handle-business-content">
				</div>
				<div class="form-group mno" id="nextprocesser-appoint">					
					<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">指定下一步操作人</label>					
					<div class="col-sm-8">
						<div class="col-sm-8">
							<input type="text"  id="task-handle-nextprocesser" datatype="*"/>
						</div>						
					</div>
				</div>
				<div class="form-group mno">
					<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">处理意见</label>
					<textarea id="task-handle-message" style="width: 100%;height:100px;" value="" ></textarea>	
				</div>
				<div class="form-group mno" id="task-handle-workflow-content">
				</div>
			</div>
		</div>
	</div>
</div>
 <div class="modal-footer" style="text-align: right;">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    <button id="btn-task-handle-primary" type="button" class="btn btn-primary">确认</button>
  </div>
<style>
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

</style>
<script type="text/javascript" src="$!{basePath}/content/activiti/task-handle.js"></script> 

