<!DOCTYPE html>
<html lang="en">

#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
<div class="container bs-docs-container" style="width:100%;">
			<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/wxOffer.do?doAdd" method="POST">
				<input type="hidden" id="btn_sub" class="btn_sub" />
				<input type="hidden" id="wxUrl" value="$!{basePath}/"/>
				<input type="hidden" id="wxOffer_id" value="$!{wxOffer.id}"/>	
				<h2 style="text-align: center;">报价单</h2>
				<!--表头-->
				<div class="row">
					<div class="panel panel-default">
						<!--<div class="panel-heading">新增</div>-->
						<div class="panel-body">							
							<div class="form-group mno" style="width:400px;">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">单号</label>
								<div class="col-sm-9">								
									<input type="text" value="$!{wxOffer.fbillno}" name="fbillno" id="fbillno" class="form-control-text" datatype="*" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group mno" style="width:400px;">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">项目编号</label>
								<div class="col-sm-9">
									<input  value="$!{wxOffer.fprojectid}" name="fprojectid" id="fprojectid"  dataType="*" style="width:100%;">									
								</div>
							</div>
							<div class="form-group mno" style="width:400px;">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">项目名称</label>
								<div class="col-sm-9">
									<input  value="$!{wxOffer.fprojectname}" name="fprojectname" id="fprojectname"  dataType="*" style="width:100%;">									
								</div>
							</div>
							<div class="form-group mno" style="width:400px;">
								<label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">客户</label>
								<div class="col-sm-8">
									<input class="easyui-combogrid"  value="$!{wxOffer.fcustid}" name="fcustid" id="fcustid" style="width:100%;" data-options="
										width:286,
										panelWidth: 500,
										panelHeight:300,
										idField: 'id',
										textField: 'fname',
										url: '$!{basePath}/wxBase.do?getBaseCustomer',
										method: 'get',
										onSelect:function(rowIndex, rowData){document.getElementById('fcustid').value=rowData.id;},
										columns: [[
											{field:'id',title:'ID',width:80,hidden:true},
											{field:'fnumber',title:'编码',width:120},
											{field:'fname',title:'名称',width:80}
										]],
										fitColumns: true
									" dataType="*">
								</div>
							</div>
							<div class="row">
								<label for="inputEmail3" class="col-sm-5 control-label" style="text-align:left;">备注</label>
								<div>
									<textarea id="fremark" name="fremark" style="width: 100%;" value="$!{wxOffer.fremark}" ></textarea>									
								</div>
							</div>		
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="btn-row">
						<a href="javascript:void(0);" onclick="$('.panel-collapse').collapse('show');"><i class="fa fa-plus"></i>展开全部</a>
						<a href="javascript:void(0);" onclick="$('.panel-collapse').collapse('hide');"><i class="fa fa-minus"></i>收缩全部</a>
					</div>
				</div>
				<!--门型-->
				<div class="row">
					<div class="panel panel-default">
						<!--<div class="panel-heading">其它选项</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse0">
								旋转门及选项
							</a>		
							<input id="groupInfo1sSumAmount" type="hidden" />
							<div  id="groupInfo1sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse0" class="panel-collapse collapse in">
						<div class="panel-body">				
							<button type="button" id="revolutionDoor_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>
							<!--<button type="button" id="doorModel_del" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> 删除</button>-->
							<table id="revolutionDoor_table" class="table table-striped" style="margin-top: 5px;">
								<thead>
									<th>序号</th>
									<th>门型编号</th>
									<th>名称</th>
									<th>数量</th>
									<th>价格</th>
									<th>金额</th>
									<th>备注</th>
									<th>操作</th>
								</thead>
								<tbody>								
								</tbody>
							</table>							
						</div>
					</div>	
					</div>
				</div>		
				
				<!--工程报价-->
				<div class="row">				
					<div class="panel panel-default">
					<!--	<div class="panel-heading">平滑门系统及操作器选项</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse2">
								平门系列及选项
							</a>	
							<input id="groupInfo2sSumAmount" type="hidden" />
							<div  id="groupInfo2sSumAmountDisplay" class="panel-amount">
								0.00
							</div>
						</div>
						<div id="collapse2" class="panel-collapse collapse in">
						<div class="panel-body">				
							<button type="button" id="smoothDoor_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>							
							<table id="smoothDoor_table" class="table table-striped" style="margin-top: 5px;">
								<thead>
									<th>序号</th>
									<th>门型编号</th>
									<th>名称</th>
									<th>数量</th>
									<th>价格</th>
									<th>金额</th>
									<th>备注</th>
									<th>操作</th>
								</thead>
								<tbody>								
								</tbody>
							</table>							
						</div>
					</div>	
					</div>
					
					
					<div class="panel panel-default">
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse3">
								边门门体及门区框架部分
							</a>
							<input id="groupInfo3sSumAmount" type="hidden" />
							<div  id="groupInfo3sSumAmountDisplay" class="panel-amount">
								0.00
							</div>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">	
							<button type="button" id="groupInfo3s_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>						
							<table  id="groupInfo3s_table" class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>配件</th>
									<th>规格型号</th>
									<th>品牌</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>	
									<th>备注</th>			
									<th>操作</th>						
								</thead>
								<tbody>
									#if($!{groupInfo3s})
									#foreach($!{info} in $!{groupInfo3s})
										<tr>
											<td>
												<div name="xh">$!{info.findex}</div>
												<input type="hidden" name="groupInfo3s[$!{info.findex}].findex"
												 value="$!{info.fname}" id="groupInfo3s[$!{info.findex}].findex">
											</td>
											<td><input type="text"  name="groupInfo3s[$!{info.findex}].fname" 
												value="$!{info.fname}" id="groupInfo3s[$!{info.findex}].fname" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<!-- 仅用于检查是否改变 -->
												<input type="hidden"  id="groupInfo3s[$!{info.findex}].standard_id"/>
												<input type="text"  name="groupInfo3s[$!{info.findex}].standard" 
												value="$!{info.standard}" id="groupInfo3s[$!{info.findex}].standard" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].model" 
												value="$!{info.model}" id="groupInfo3s[$!{info.findex}].model" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].brand" 
												value="$!{info.brand}" id="groupInfo3s[$!{info.findex}].brand" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].unit" 
												value="$!{info.unit}" id="groupInfo3s[$!{info.findex}].unit" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo3s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('3',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo3s[$!{info.findex}].price" 
												onChange="calEntryAmount('3',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo3s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>
												
											</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo3s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
											<td class="last">
					                            <button id="groupInfo3s[#index#].btnDel" type="button" class="btn btn-link" onclick="onDeleteRow(this)"> 删除</button> 
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>						
						</div>
						</div>
					</div>
					
					
					<div class="panel panel-default">			
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse4">
								边门选项
							</a>
							<input id="groupInfo4sSumAmount" type="hidden" />
							<div  id="groupInfo4sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">	
							<button type="button" id="groupInfo4s_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>						
							<table id="groupInfo4s_table" class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>配件</th>
									<th>规格型号</th>
									<th>品牌</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>
									<th>备注</th>	
									<th>操作</th>								
								</thead>
								<tbody>
									#if($!{groupInfo4s})
									#foreach($!{info} in $!{groupInfo4s})
										<tr>
											<td>
												<div name="xh">$!{info.findex}</div>
												<input type="hidden" name="groupInfo4s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo4s[$!{info.findex}].findex">
											</td>
											<td><input type="text"  name="groupInfo4s[$!{info.findex}].fname" 
												value="$!{info.fname}" id="groupInfo4s[$!{info.findex}].fname" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<!-- 仅用于检查是否改变 -->
												<input type="hidden"  id="groupInfo4s[$!{info.findex}].standard_id"/>
												<input type="text"  name="groupInfo4s[$!{info.findex}].standard" 
												value="$!{info.standard}" id="groupInfo4s[$!{info.findex}].standard" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].model" 
												value="$!{info.model}" id="groupInfo4s[$!{info.findex}].model" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].brand" 
												value="$!{info.brand}" id="groupInfo4s[$!{info.findex}].brand" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].unit" 
												value="$!{info.unit}" id="groupInfo4s[$!{info.findex}].unit" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo4s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo4s[$!{info.findex}].price" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo4s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>
												
											</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo4s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
											<td class="last">
					                            <button id="groupInfo4s[#index#].btnDel" type="button" class="btn btn-link" onclick="onDeleteRow(this)"> 删除</button> 
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>						
						</div>
					</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse5">
								其他费用
							</a>		
							<input id="groupInfo5sSumAmount" type="hidden" />
							<div id="groupInfo5sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">							
							<table id="groupInfo5s_table" class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>配件</th>
									<th>规格型号</th>
									<th>品牌</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>
									<th>备注</th>	
									<th>操作</th>								
								</thead>
								<tbody>
									#if($!{groupInfo5s})
									#foreach($!{info} in $!{groupInfo5s})
										<tr>
											<td>
												<div name="xh">$!{info.findex}</div>
												<input type="hidden" name="groupInfo5s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo5s[$!{info.findex}].findex">
											</td>
											<td><input type="text"  name="groupInfo5s[$!{info.findex}].fname" 
												value="$!{info.fname}" id="groupInfo5s[$!{info.findex}].fname" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<!-- 仅用于检查是否改变 -->
												<input type="hidden"  id="groupInfo5s[$!{info.findex}].standard_id"/>
												<input type="text"  name="groupInfo5s[$!{info.findex}].standard" 
												value="$!{info.standard}" id="groupInfo5s[$!{info.findex}].standard" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo5s[$!{info.findex}].model" 
												value="$!{info.model}" id="groupInfo5s[$!{info.findex}].model" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo5s[$!{info.findex}].brand" 
												value="$!{info.brand}" id="groupInfo5s[$!{info.findex}].brand" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="text"  name="groupInfo5s[$!{info.findex}].unit" 
												value="$!{info.unit}" id="groupInfo5s[$!{info.findex}].unit" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo5s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo5s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo5s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo5s[$!{info.findex}].price" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo5s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo5s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>
												
											</td>
											<td>
												<input type="text"  name="groupInfo5s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo5s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
											<td class="last">
					                            <button id="groupInfo5s[#index#].btnDel" type="button" class="btn btn-link" onclick="onDeleteRow(this)"> 删除</button> 
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>					
						</div>
					</div>
					</div>
					
					<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">
							<a data-toggle="collapse"  href="#collapse6">
								附件
							</a>								
						</div>	
						<div id="collapse6" class="panel-collapse collapse">
							<div class="panel-body " id="attachment_list">								
								<ul class="list-inline"> 
									<li><div id="attachment_add">选择文件</div></li>								
																		
								</ul>			
							</div>
						</div>
					</div>					
				</div>
				</div>

				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">项目总价						
							<input name="famount" id="famount" type="hidden" value="$!{wxOffer.famount}" />
							<div  id="famountDisplay" class="panel-amount">
								0.00
							</div>						
						</div>						
					</div>
				</div>
				<!--提交返回按钮-->
				<div class="row btn-row">					
					<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/wxOffer.do?list')">返回</button>
					<button type="button" class="btn btn-primary" id="formSubmit">保存</button>				
				</div>
					
			</form>
			<!-- 附件模板 -->
			<div style="display:none;" id="add_attachment_template">
				<li id="attachment[#index#]">
					<div class="radius-div">
						<input type="hidden" name="attachment[#index#].fileid" id="attachment[#index#].fileid"/>
						<input type="hidden" name="attachment[#index#].path" id="attachment[#index#].path"/>
						<input type="hidden" name="attachment[#index#].filename" id="attachment[#index#].filename"/>
						<button type="button" id="attachment[#index#].link" class="btn btn-link" onclick="downloadAttachment(#index#);">附件1</button>
						<button type="button" id="attachment[#index#].remove" onclick="removeAttachment(#index#);"><i class="fa fa-remove"></i></button>
					</div>									
				</li>
			</div>
			
			<!-- 旋转门明细模板 -->
			<table style="display:none;">
				<tbody id="add_revolution_door_template">
					<tr name="revolutionDoor[#index#]" id="revolutionDoor[#index#]">
						<td>
							<input type="hidden" name="revolutionDoor[#index#].findex" id="revolutionDoor[#index#].findex">
							<input type="hidden" name="revolutionDoor[#index#].wholerate" id="revolutionDoor[#index#].wholerate">
							<input type="hidden" name="revolutionDoor[#index#].partsrate" id="revolutionDoor[#index#].partsrate">
							<input type="hidden" name="revolutionDoor[#index#].detail2json" id="revolutionDoor[#index#].detail2json">
							<div name="xh"></div>
						</td>						
						<td>
							<input type="hidden" name="revolutionDoor[#index#].item_id" id="revolutionDoor[#index#].item_id">
							<input type="text"  name="revolutionDoor[#index#].item_number"
							id = "revolutionDoor[#index#].item_number"
						    datatype="*" />	
						</td>
						<td>
							<input type="text"  name="revolutionDoor[#index#].item_name"
							id = "revolutionDoor[#index#].item_name"
						    datatype="*" readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].quantity"
							id = "revolutionDoor[#index#].quantity"	 value="1"					    
							 onchange="calSumDoorAmount(this)" />
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].price"
							id = "revolutionDoor[#index#].price"						 
							readonly="readonly" ignore="ignore" onchange="calSumDoorAmount(this)" />
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].amount"
							id = "revolutionDoor[#index#].amount"						 
							readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="text"  name="revolutionDoor[#index#].remark"
							id = "revolutionDoor[#index#].remark"
						    datatype="*" ignore="ignore"/>
						</td>
						<td class="last">							
							<button type="button" class="btn btn-link" data-toggle="modal" data-target="#detailModal" data-tag="revolutionDoor[#index#]" data-action="edit">编辑</button>
                            <button id="revolutionDoor[#index#].btnDel" type="button" class="btn btn-link" onclick="onDeleteRow(this)"> 删除</button>                         
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#detailModal" data-tag="revolutionDoor[#index#]" data-action="view">详情</button>
						</td>
						<input type="hidden" name="revolutionDoor[#index#].fdetail" id="revolutionDoor[#index#].fdetail" />
                       </tr>
                  </tbody>
              </table>    
              <!-- 平滑门明细模板 -->
			<table style="display:none;">
				<tbody id="add_smooth_door_template">
					<tr name="smoothDoor[#index#]" id="smoothDoor[#index#]">
						<td>
							<input type="hidden" name="smoothDoor[#index#].findex" id="smoothDoor[#index#].findex">
							<input type="hidden" name="smoothDoor[#index#].wholerate" id="smoothDoor[#index#].wholerate">
							<input type="hidden" name="smoothDoor[#index#].partsrate" id="smoothDoor[#index#].partsrate">
							<input type="hidden" name="smoothDoor[#index#].detail2json" id="smoothDoor[#index#].detail2json">
							<div name="xh"></div>
						</td>						
						<td>
							<input type="hidden" name="smoothDoor[#index#].item_id" id="smoothDoor[#index#].item_id">
							<input type="text"  name="smoothDoor[#index#].item_number"
							id = "smoothDoor[#index#].item_number"
						    datatype="*" />	
						</td>
						<td>
							<input type="text"  name="smoothDoor[#index#].item_name"
							id = "smoothDoor[#index#].item_name"
						    datatype="*" readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="number"  name="smoothDoor[#index#].quantity"
							id = "smoothDoor[#index#].quantity"	 value="1"					    
							 onchange="calSumDoorAmount(this)" />
						</td>
						<td>
							<input type="number"  name="smoothDoor[#index#].price"
							id = "smoothDoor[#index#].price"						 
							readonly="readonly" ignore="ignore" onchange="calSumDoorAmount(this)" />
						</td>
						<td>
							<input type="number"  name="smoothDoor[#index#].amount"
							id = "smoothDoor[#index#].amount"						 
							readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="text"  name="smoothDoor[#index#].remark"
							id = "smoothDoor[#index#].remark"
						    datatype="*" ignore="ignore"/>
						</td>
						<td class="last">						
							<button type="button" class="btn btn-link" data-toggle="modal" data-target="#detailModal" data-tag="smoothDoor[#index#]" data-action="edit">编辑</button>
                            <button id="smoothDoor[#index#].btnDel" type="button" class="btn btn-link" onclick="onDeleteRow(this)"> 删除</button>                          
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#detailModal" data-tag="smoothDoor[#index#]" data-action="view">详情</button>
						</td>
						<input type="hidden" name="smoothDoor[#index#].fdetail" id="smoothDoor[#index#].fdetail" />
                       </tr>
                  </tbody>
              </table>          
			<!-- Modal -->
			<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
			  <div class="modal-dialog" role="document" style="width:900px;">
			    <div class="modal-content">
			      <div class="modal-header">	
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="detailModalLabel">明细</h4>
			      </div>
			      <div id="modal-dialog-body" class="modal-body">
			      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			        <button type="button" class="btn btn-primary">确认</button>
			      </div>
			    </div>
			  </div>
			</div>		
	</body>
</html>
<link rel="stylesheet" type="text/css" href="$!{basePath}/content/offer/style.css" />
<link rel="stylesheet" type="text/css" href="$!{basePath}/plug-in/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="$!{basePath}/plug-in/easyui/themes/icon.css" />

<link rel="stylesheet" type="text/css" href="$!{basePath}/plug-in/webuploader/webuploader.css"></link>
<script type="text/javascript" src="$!{basePath}/plug-in/webuploader/webuploader.min.js" ></script>
<script type="text/javascript" src="$!{basePath}/plug-in/jquery/jquery.base64.js"></script>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="$!{basePath}/plug-in/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="$!{basePath}/content/offer/offer-js.js"></script> 
<script type="text/javascript" src="$!{basePath}/content/offer/offer-detail2.js"></script> 
<script >
jQuery(function(){
	initStandard();
});

</script>
<style>
input[type='number']{
	width:100px;
}
</style>