.panel{border: none;}

.mno {
	width: 200px;
	display: -webkit-inline-box;
	height: 30px;
}

.form-control-text {
	width: 100%;
}

.form-horizontal .form-group.mno {
	margin-bottom: 0;
}

.btn-row {   
	/* margin-top: 15px;*/	
	 margin-bottom: 15px;
	 float: right;
	 margin-right: 20px;
}

.table th {
    background: #f2f2f2;
    line-height: 30px;
    border-bottom: 1px solid #dfdfdf;
}

.panel-amount{	
	float: right;
	text-align: right;
}

input:read-only
{
	background-color: rgb(235, 235, 228);
	border-style: groove;
    border-width: 1px;
} 
.panel.datagrid>.panel-body{
	padding: inherit;
}

