#parse("content/base/back/common/macro.vm")
<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")

<body style='overflow:scroll;overflow-x:hidden'>    
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<form role="form" class="form-inline" action="$!{basePath}/p3/wxOffer.do?list" method="post"  id="formSubmit">
				<div  class="col-md-10" style="width:100%">
								<div class="panel panel-default">
								  <div class="panel-heading">报价单列表</div>
								  <div class="panel-body">
								  		<div class="search">
											 <div class="form-group col-sm-4">
											    <label for="fbillno" class="control-label col-sm-3 line34">单号</label>
											     <div class="col-sm-8">
											    <input type="text" name="fbillno" id="fbillno" value="$!{wxOffer.fbillno}" class="form-control">
											  	</div>
											 </div>
											  <button type="submit" class="btn btn-primary">搜  索</button>
											  <div class="clearfix"></div>
								  		</div>
								  		<div id="legend">
								          <legend  class="le"><button type="button" class="btn btn-primary" onclick="doUrl('$!{basePath}/p3/wxOffer.do?toAdd')" >新增</button></legend> 
								        </div>
								        <table class="table table-striped">
									        <thead>
													<th>单号</th>
													<th>项目</th>
													<th>客户</th>
						                			<th>金额</th>
						                			<th>状态</th>
													<th>当前审批人</th>
													<th>申请人</th>
						                			<th>申请时间</th>
						                			<th>备注</th>
						                			<th>操作</th>
									        </thead>
									        <tobody>
									    	  #if($!{pageInfos})
								                #foreach($!{info} in $!{pageInfos})
									            	<tr>			
														<td>$!{info.fbillno}</td>
														<td>$!{info.fprojectid}</td>
														<td>$!{info.fcustid}</td>
														<td>$!{info.famount}</td>
														<td>$!{info.fstatus}</td>
														<td>$!{info.fcurrent_approver}</td>
														<td>$!{info.fapplicant}</td>													
														<td>$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{info.fapplicant_date})</td>
														<td>$!{info.fremark}</td>
										                <td class="last">
							                			<a href="javascript:doUrl('$!{basePath}/p3/wxOffer.do?toEdit&id=$!{info.id}')" >编辑</a>
							                			<a href="javascript:delData('$!{basePath}/p3/wxOffer.do?doDelete&id=$!{info.id}')">删除</a>
							                			<a href="javascript:doUrl('$!{basePath}/p3/wxOffer.do?toDetail&id=$!{info.id}')">详情</a>
						                				</td>
									           		</tr>
									             #end
									    	 #end
									         </tobody>
									    </table>
										<div class="text-right">
											<!--公用翻页代码-->
							                #set($attr='formSubmit')
							            	#showPageList($pageInfos $attr)
							                <!--END公用翻页代码-->
										</div>
								  </div>	
								</div>
				</div>  
				</form>
		</div>
	</div>
</body>
</html>
<!-- <script type=\"text/javascript\" src=\"plug-in/jquery/jquery-2.1.1.js\"></script> -->
<!-- <script type=\"text/javascript\" src=\"plug-in/bootstrap/js/bootstrap-3.7.7.min.js\"></script> -->
