<!DOCTYPE html>
<html lang="en">


#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
<div class="container bs-docs-container" style="width:100%;">
			<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/p3/wxOffer.do?doAdd" method="POST">
				<input type="hidden" id="btn_sub" class="btn_sub" />
				<input type="hidden" id="wxUrl" value="$!{basePath}/p3/"/>				
				<h2 style="text-align: center;">报价单</h2>
				<!--表头-->
				<div class="row">
					<div class="panel panel-default">
						<!--<div class="panel-heading">新增</div>-->
						<div class="panel-body">							
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">单号</label>
								<div class="col-sm-8">								
									<input type="text" value="$!{wxOffer.fbillno}" name="fbillno" id="fbillno" class="form-control-text" datatype="*" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">项目</label>
								<div class="col-sm-8">
<!-- 									<input type="hidden" value="$!{wxOffer.fprojectid}" name="fprojectid" id="fprojectid" class="form-control-text" datatype="*" /> -->
									<input class="easyui-combogrid"  value="$!{wxOffer.fprojectid}" name="fprojectid" id="fprojectid" data-options="
										panelWidth: 500,
										idField: 'id',
										textField: 'fname',
										url: '$!{basePath}/p3/wxBase.do?getBaseProject',
										method: 'get',
										onSelect:function(rowIndex, rowData){document.getElementById('fprojectid').value=rowData.id;},
										columns: [[
											{field:'id',title:'ID',width:80,hidden:true},
											{field:'fnumber',title:'编码',width:120},
											{field:'fname',title:'名称',width:80}
										]],
										fitColumns: true
									" dataType="*">
								</div>
							</div>
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">客户</label>
								<div class="col-sm-8">
<!-- 									<input type="hidden" value="$!{wxOffer.fcustid}" name="fcustid" id="fcustid" class="form-control-text" datatype="*" /> -->
									<input class="easyui-combogrid"  value="$!{wxOffer.fcustid}" name="fcustid" id="fcustid" data-options="
										panelWidth: 500,
										idField: 'id',
										textField: 'fname',
										url: '$!{basePath}/p3/wxBase.do?getBaseCustomer',
										method: 'get',
										onSelect:function(rowIndex, rowData){document.getElementById('fcustid').value=rowData.id;},
										columns: [[
											{field:'id',title:'ID',width:80,hidden:true},
											{field:'fnumber',title:'编码',width:120},
											{field:'fname',title:'名称',width:80}
										]],
										fitColumns: true
									" dataType="*">
								</div>
							</div>
							<!--  	
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">申请人</label>
								<div class="col-sm-8">
									<input type="text" value="$!{wxOffer.fapplicant}" name="fapplicant" id="fapplicant" class="form-control-text" datatype="*" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">申请时间</label>
								<div class="col-sm-8">
									<input type="text" value="$!dateTool.format(" yyyy-MM-dd HH:mm:ss ",$!{wxOffer.fapplicant_date})" 
									name="fapplicant_date" id="fapplicant_date" class="form-control-text" 
									onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" datatype="*" 
									style="background: url(img/datetime.png') no-repeat scroll right center transparent;" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">状态</label>
								<div class="col-sm-8">
									<input type="text" value="$!{wxOffer.fstatus}" name="fstatus" id="fstatus" class="form-control-text" datatype="*" readonly="readonly"/>
								</div>
							</div>
							<div class="form-group mno">
								<label for="inputEmail3" class="col-sm-4 control-label" style="text-align:left;">当前审批人</label>
								<div class="col-sm-8">
									<input type="text" value="$!{wxOffer.fcurrent_approver}" name="fcurrent_approver" id="fcurrent_approver" class="form-control-text" datatype="*" readonly="readonly"/>
								</div>
							</div>	
							 -->								
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="btn-row">
						<a href="javascript:void(0);" onclick="$('.panel-collapse').collapse('show');"><i class="fa fa-plus"></i>展开全部</a>
						<a href="javascript:void(0);" onclick="$('.panel-collapse').collapse('hide');"><i class="fa fa-minus"></i>收缩全部</a>
					</div>
				</div>
				<!--门型-->
				<div class="row">
					<div class="panel panel-default">
						<!--<div class="panel-heading">其它选项</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse0">
								旋转门及选项
							</a>		
							<input id="groupInfo1sSumAmount" type="hidden" />
							<div  id="groupInfo1sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse0" class="panel-collapse collapse in">
						<div class="panel-body">				
							<button type="button" id="revolution_add" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> 添加</button>
							<!--<button type="button" id="doorModel_del" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i> 删除</button>-->
							<table id="revolution_table" class="table table-striped" style="margin-top: 5px;">
								<thead>
									<th>序号</th>
									<th>门型编号</th>
									<th>名称</th>
									<th>数量</th>
									<th>价格</th>
									<th>金额</th>
									<th>备注</th>
									<th>操作</th>
								</thead>
								<tbody>								
								</tbody>
							</table>							
						</div>
					</div>	
					</div>
				</div>		
				
				<!--工程报价-->
				<div class="row">				
					<div class="panel panel-default">
					<!--	<div class="panel-heading">平滑门系统及操作器选项</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse2">
								平滑门系统及操作器选项
							</a>	
							<input id="groupInfo2sSumAmount" type="hidden" />
							<div  id="groupInfo2sSumAmountDisplay" class="panel-amount">
								0.00
							</div>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">							
							<table class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>规格</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>	
									<th>备注</th>							
								</thead>
								<tbody>
									#if($!{groupInfo2s})
									#foreach($!{info} in $!{groupInfo2s})
										<tr>
											<td>$!{info.findex}
												<input type="hidden" name="groupInfo2s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo2s[$!{info.findex}].findex">
											</td>
											<td>$!{info.fname}</td>
											<td>
												<input type="text"  name="groupInfo2s[$!{info.findex}].mdoel" 
												value="$!{info.mdoel}" id="groupInfo2s[$!{info.findex}].mdoel" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>$!{info.unit}</td>
											<td>
												<input type="number"  name="groupInfo2s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo2s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('2',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo2s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo2s[$!{info.findex}].price" 
												onChange="calEntryAmount('2',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo2s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo2s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>												
											</td>
											<td>
												<input type="text"  name="groupInfo2s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo2s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>						
						</div>
						</div>
					</div>
					
					
					<div class="panel panel-default">
						<!--<div class="panel-heading">边门门体及门区框架部分</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse3">
								边门门体及门区框架部分
							</a>
							<input id="groupInfo3sSumAmount" type="hidden" />
							<div  id="groupInfo3sSumAmountDisplay" class="panel-amount">
								0.00
							</div>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
						<div class="panel-body">							
							<table class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>规格</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>	
									<th>备注</th>								
								</thead>
								<tbody>
									#if($!{groupInfo3s})
									#foreach($!{info} in $!{groupInfo3s})
										<tr>
											<td>$!{info.findex}
												<input type="hidden" name="groupInfo3s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo3s[$!{info.findex}].findex">
											</td>
											<td>$!{info.fname}</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].mdoel" 
												value="$!{info.mdoel}" id="groupInfo3s[$!{info.findex}].mdoel" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>$!{info.unit}</td>
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo3s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('3',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo3s[$!{info.findex}].price" 
												onChange="calEntryAmount('3',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo3s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo3s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>
												
											</td>
											<td>
												<input type="text"  name="groupInfo3s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo3s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>						
						</div>
						</div>
					</div>
					
					
					<div class="panel panel-default">
				<!--		<div class="panel-heading">边门选项</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse4">
								边门选项
							</a>
							<input id="groupInfo4sSumAmount" type="hidden" />
							<div  id="groupInfo4sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse4" class="panel-collapse collapse">
						<div class="panel-body">							
							<table class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>名称</th>
									<th>规格</th>
									<th>单位</th>
									<th>数量</th>
									<th>单价</th>
									<th>总价</th>
									<th>备注</th>									
								</thead>
								<tbody>
									#if($!{groupInfo4s})
									#foreach($!{info} in $!{groupInfo4s})
										<tr>
											<td>$!{info.findex}
												<input type="hidden" name="groupInfo4s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo4s[$!{info.findex}].findex">
											</td>
											<td>$!{info.fname}</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].mdoel" 
												value="$!{info.mdoel}" id="groupInfo4s[$!{info.findex}].mdoel" 
												datatype="*" ignore="ignore"/>
											</td>
											<td>$!{info.unit}</td>
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].quantity" 
												value="$!{info.quantity}" id="groupInfo4s[$!{info.findex}].quantity" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>										
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].price" 
												value="$!{info.price}" id="groupInfo4s[$!{info.findex}].price" 
												onChange="calEntryAmount('4',$!{info.findex})" ignore="ignore"/>
											</td>
											<td>
												<input type="number"  name="groupInfo4s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo4s[$!{info.findex}].amount" 
												readonly="readonly" ignore="ignore"/>
												
											</td>
											<td>
												<input type="text"  name="groupInfo4s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo4s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
										</tr>
									 #end
								 #end
								</tbody>
							</table>						
						</div>
					</div>
					</div>
					
					<div class="panel panel-default">
						<!--<div class="panel-heading">其他费用</div>-->
						<div class="panel-heading">							
							<a data-toggle="collapse"  href="#collapse5">
								其他费用
							</a>		
							<input id="groupInfo5sSumAmount" type="hidden" />
							<div id="groupInfo5sSumAmountDisplay" class="panel-amount">
								0.00
							</div>	
						</div>
						<div id="collapse5" class="panel-collapse collapse">
						<div class="panel-body">							
							<table class="table table-striped" style="margin-top: 5px;">
								<thead>								
									<th>序号</th>									
									<th>项目</th>									
									<th>总价</th>
									<th>备注</th>								
								</thead>
								<tbody>
									#if($!{groupInfo5s})
									#foreach($!{info} in $!{groupInfo5s})
										<tr>
											<td>$!{info.findex}
												<input type="hidden" name="groupInfo5s[$!{info.findex}].findex"
												 value="$!{info.findex}" id="groupInfo5s[$!{info.findex}].findex">
											</td>
											<td>$!{info.fname}</td>											
											<td>
												<input type="number"  name="groupInfo5s[$!{info.findex}].amount" 
												value="$!{info.amount}" id="groupInfo5s[$!{info.findex}].amount" 											
												ignore="ignore" onChange="sumAmount(5);"/>
											</td>
											<td>
												<input type="text"  name="groupInfo5s[$!{info.findex}].remark" 
												value="$!{info.remark}" id="groupInfo5s[$!{info.findex}].remark" 
												datatype="*" ignore="ignore"/>
											</td>
										</tr>
									 #end
								 #end						
								</tbody>
							</table>						
						</div>
					</div>
					</div>
					
				</div>	
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">项目总价						
							<input name="famount" id="famount" type="hidden" value="$!{wxOffer.famount}" />
							<div  id="famountDisplay" class="panel-amount">
								0.00
							</div>						
						</div>						
					</div>
				</div>
				
				<!--提交返回按钮-->
				<div class="row btn-row">					
					<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/p3/wxOffer.do?list')">返回</button>
					<button type="button" class="btn btn-primary" id="formSubmit">保存</button>				
				</div>
				
				<!-- Modal -->
				<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="detailModalLabel">明细</h4>
				      </div>
				      <div id="modal-dialog-body" class="modal-body">
				      
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				        <button type="button" class="btn btn-primary">确认</button>
				      </div>
				    </div>
				  </div>
				</div>				
			</form>
			<!-- 旋转门明细模板 -->
			<table style="display:none;">
				<tbody id="add_revolution_door_template">
					<tr name="revolutionDoor[#index#]" id="revolutionDoor[#index#]">
						<td>
							<input type="hidden" name="revolutionDoor[#index#].findex" id="revolutionDoor[#index#].findex">
							<div name="xh"></div>
						</td>						
						<td>
							<input type="hidden" name="revolutionDoor[#index#].item_id" id="revolutionDoor[#index#].item_id">
							<input type="text"  name="revolutionDoor[#index#].item_number"
							id = "revolutionDoor[#index#].item_number"
						    datatype="*" />	
						</td>
						<td>
							<input type="text"  name="revolutionDoor[#index#].item_name"
							id = "revolutionDoor[#index#].item_name"
						    datatype="*" readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].quantity"
							id = "revolutionDoor[#index#].quantity"						    
							 onChange="calRevolutionDoorAmount('#index#')" />
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].price"
							id = "revolutionDoor[#index#].price"						 
							ignore="ignore" onChange="calRevolutionDoorAmount('#index#')" />
						</td>
						<td>
							<input type="number"  name="revolutionDoor[#index#].amount"
							id = "revolutionDoor[#index#].amount"						 
							readonly="readonly" ignore="ignore"/>
						</td>
						<td>
							<input type="text"  name="revolutionDoor[#index#].fremark"
							id = "revolutionDoor[#index#].fremark"
						    datatype="*" ignore="ignore"/>
						</td>
						<td class="last">
							<a href="#" onclick=""><i class="fa fa-edit"></i> 编辑</a>
                            <a href="#" onclick="document.getElementById('revolutionDoor[#index#]').remove();sumAmount('1');"><i class="fa fa-trash-o"></i> 删除</a>
                            <!-- <a href="#" onclick=""><i class="fa fa-file-o"></i> 详情</a> -->
                            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#detailModal" 
                            data-tag="revolutionDoor[#index#].item_id">详情</button>
						</td>
                       </tr>
                  </tbody>
              </table>
</body>
</html>
<link rel="stylesheet" type="text/css" href="$!{basePath}/content/offer/style.css" />
<link rel="stylesheet" type="text/css" href="$!{basePath}/plug-in/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="$!{basePath}/plug-in/easyui/themes/icon.css" />
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="$!{basePath}/plug-in/jquery/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="$!{basePath}/content/offer/offer-js.js"></script> 
<script >
jQuery(function(){
		var customTr = $("#add_revolution_door_template tr").clone();
		$("#revolution_table tbody").append(customTr);
		resetTrNum('revolution_table');
	
});
</script>