<!DOCTYPE html>
<html lang="en">
#parse("content/base/back/common/head.vm")
<body style='overflow:scroll;overflow-x:hidden'>
	<div class="container bs-docs-container" style="width:100%;">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">编辑</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form" id="dailogForm" action="$!{basePath}/p3/wxOffer.do?doEdit" method="POST">
						 <input type="hidden" id="btn_sub" class="btn_sub" />
						 <input type="hidden" value="$!{wxOffer.id}" name="id" id="id" />
												<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">单号</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fbillno}" name="fbillno" id="fbillno" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">项目</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fprojectid}" name="fprojectid" id="fprojectid" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">客户</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fcustid}" name="fcustid" id="fcustid" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">金额</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.famount}" name="famount" id="famount" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">状态</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fstatus}" name="fstatus" id="fstatus" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">当前审批人</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fcurrent_approver}" name="fcurrent_approver" id="fcurrent_approver" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">申请人</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fapplicant}" name="fapplicant" id="fapplicant" class="form-control" datatype="*"/>
									    </div>
									</div>
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">申请时间</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss",$!{wxOffer.fapplicant_date})" name="fapplicant_date" id="fapplicant_date" class="form-control" onFocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" datatype="*" style="background: url('$!{basePath}/plug-in-ui/images/datetime.png') no-repeat scroll right center transparent;"/>
									    </div>
									</div>
				
									<div class="form-group mno">
									    <label for="inputEmail3" class="col-sm-2 control-label" style="text-align:left;">备注</label>
									    <div class="col-sm-8">
									      <input type="text" value="$!{wxOffer.fremark}" name="fremark" id="fremark" class="form-control" />
									    </div>
									</div>
									<div class="form-group mno">
											<div class="col-sm-offset-1 col-sm-6">
												<button type="button" class="btn btn-default" id="formReturn" data-dismiss="modal" onclick="doUrl('$!{basePath}/p3/wxOffer.do?list')">返回</button>
	        									<button type="button" class="btn btn-primary" id="formSubmit">提交</button>
        									 </div>
        							</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/Validform_v5.3.2.js"></script> 
<script type="text/javascript" src="$!{basePath}/plug-in-ui/js/forminit.p3.js"></script>  